.auth {
    /*max-width: 400px;*/
    width:400px;
}

body {
    background-color: lightgray;
}

md-toast.md-error-toast-theme .md-toast-content {
    color: red !important;
}
md-toast.md-success-toast-theme .md-toast-content {
    color: limegreen !important;
}

.auth md-input-container {
    margin: 5px 0;
}

.hint {
    line-height: 14px;
    font-size: 12px;
}

/*Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*Rules for using icons as black on a light background.*/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*Rules for using icons as white on a dark background.*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }