<form name="loginVm.loginForm" ng-submit="loginVm.loginForm.$valid && loginVm.processLogin()"  novalidate>

    <md-card class="auth" layout-align="center" layout-xs="column">
        <!--<md-card-title>-->
            <!--<md-card-title-text>-->
                <!--<span class="md-headline">Login</span>-->
                <!--<span class="md-subhead">Please enter your login credentials.</span>-->
                <!--<md-divider></md-divider>-->
            <!--</md-card-title-text>-->
        <!--</md-card-title>-->
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h3>Login</h3>

                <span flex></span>
                <md-button ui-sref="auth_forgot">
                    <i class="fa fa-question-circle"></i>
                    Forgot Password
                </md-button>
            </div>
        </md-toolbar>


        <md-card-content>

            <div layout="column" layout-margin>

                <md-input-container>
                    <label>Email</label>
                    <input name="email" type="email" ng-model="loginVm.credentials.email"
                           ng-required="true" />
                    <div ng-messages="loginVm.loginForm.$error">
                        <div ng-message="required, email">Please provide your email.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input name="password" type="password" ng-model="loginVm.credentials.password" ng-minlength="4"
                           ng-maxlength="128" ng-required="true" />
                    <div ng-messages="loginVm.loginForm.$error">
                        <div ng-message="required, maxlength, minlength">Please provide your password.</div>
                    </div>
                </md-input-container>

                <!--<md-checkbox ng-model="loginVm.credentials.remember" aria-label="Remember me?">-->
                    <!--Remember me?-->
                <!--</md-checkbox>-->

                <md-input-container layout="row" layout-align="end center">
                        <md-progress-circular md-diameter="30%" class="md-warn md-hue-2" md-mode="{{loginVm.progressMode}}"></md-progress-circular>
                        <md-button type="submit" class="md-raised" ng-class="{'md-primary' : !loginVm.loginForm.$invalid}">
                            <i class="fa fa-key"></i>
                            Login
                        </md-button>
                </md-input-container>
            </div>

        </md-card-content>
    </md-card>
</form>
